<!-- move base -->
<launch>

  <!-- start SLAM -->
  <node pkg="slam_toolbox" type="localization_slam_toolbox_node" name="slam_toolbox" output="screen">
      <!--remap from="/scan"  to="/base_scan"/-->
    <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_localization.yaml" />
  </node>
  
  
</launch>
