<!-- -->
<launch>
  <!-- Logger config -->
    <env name="ROSCONSOLE_CONFIG_FILE"
        value="$(find navdata_collector)/config/custom_rosconsole.conf"/>

    <param name="rgbd_topic" type="string" value="/navdata_collector/rgbd_image" />
    <node pkg="navdata_collector" type="navdata_collector_node" name="navdata_collector" output="screen"/>
    <node pkg="navdata_collector" type="viz_helper_node" name="viz_helper"/> <!--output="screen"/-->

</launch>
