<!-- -->

<launch>

<!-- -->
    <arg name="rviz_config" value ="$(find navdata_collector)/launch/includes/rviz_config/nav_collector.rviz"/>

    <rosparam command="load" file="$(find navdata_collector)/param/navdata_collector.yaml"/>
    <node pkg="navdata_collector" type="navdata_collector_node" name="navdata_collector" output="screen"/>
    <node pkg="navdata_collector" type="path_generator_node" name="path_generator" output="screen"/>
    
    <node pkg="navdata_collector" type="viz_helper_node" name="viz_helper" output="screen"/>
<!-- rviz -->
    <!--node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config)"/-->   

</launch>
